{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'home.css'%}" type="text/css">
  <title>Document</title>
 </head>

<body>
  <!-- ナビゲーションバー -->
  <div class="navbar">
    <a href="{% url 'teethapp:home' %}">ホーム</a>
    <a href="{% url 'teethapp:mediaupload' %}">画像をアップロード</a>
    <a href="{% url 'teethapp:calendar' %}">カレンダーへ</a>
    <a href="{% url 'teethapp:index' %}">ログアウト</a>
  </div>

  <div class="header">
    <h1>矯正の軌跡</h1>
    <form method="get" action="{% url 'teethapp:home' %}">
      <select name="tag">
        <option value="">すべてのタグ</option>
        <option value="front">前</option>
        <option value="right">右</option>
        <option value="left">左</option>
        <option value="top">上</option>
        <option value="bottom">下</option>
      </select>
      <button type="submit">絞り込む</button>
    </form>
  </div>

  <!-- メインコンテンツ -->
  <main class="grid">
  {% for image in images %}
    <div class="item">
      <h2>{{ image.title }}</h2>
      <p class="timestamp">{{ image.timestamp|date:"Y-m-d" }}</p>
      <p class="memo">{{ image.memo }}<span class="tag">{{ image.get_tag_display }}</span></p>
      <img src="{{ image.img.url }}" alt="{{ image.title }}">
    </div>
  {% endfor %}
  </main>
</body>
</html>
